.user-info-card {
    box-sizing: border-box;
      display: block;
      width: 300px;
      height: 200px;
      margin-bottom: 10px;
      clear: both;
      background-color: white;
      border-radius: 3px;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
      padding: 10px;
      cursor: unset;

    }

    .user-info-card .user-info{
        position: sticky;
        top: 0;


    }
    
    .user-info-card .user-info-image {
        width: 75px;
        height: 75px;
        float: left;
        margin-right: 15px;
    }
    
    .user-info-card .user-info-image img {
        width: 100%;
        height: 100%;
        border-radius: 15%;
    }
    
    .user-info-card .user-info-name {
        font-weight: bold;
        font-size: 20px;
        text-transform: capitalize;
        margin: 18px 0px 0px 100px;

    }
    
     .user-info-card .additional-info {
        display: flex;
        margin-top: 35px;
    }
    
    .user-info-card  .user-followers, .user-repos {
        padding: 10px;
        cursor: pointer;
    }
    
    
    .user-info-card  .user-followers:hover, .user-repos:hover {
        border-bottom: 3px solid #0bbff2
    
    } 

    .user-info-card .user-info-userlist{
        margin-top: 25px;
    }

    @media(min-width: 500px){
        .user-info-card {
            width: 400px;
            height: 200px;
         }
       
    }